@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --green: #c5f82a;
  --white: #ffffff;
  --grey-700: #333333;
  --grey-800: #1f1f1f;
  --grey-900: #141414;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--grey-900);
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100svh;
}

.card {
  background-color: var(--grey-800);
  width: 15rem;
  border-radius: 7px;
  padding: 1rem;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.avatar {
  padding: 1rem;
}

#avatar-img {
  border-radius: 50%;
  width: 3.5rem;
}

.name {
  font-size: 0.9rem;
}

.location {
  font-size: 0.55rem;
  color: var(--green);
  font-weight: 500;
  padding: 0.4rem 0px;
}

.info {
  font-size: 0.55rem;
  font-weight: 200;
  padding: 0.7rem 0px;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-bottom: 0.3rem;
}

a {
  background-color: var(--grey-700);
  text-decoration: none;
  color: var(--white);
  width: 90%;
  font-size: 0.5rem;
  font-weight: 600;
  margin: 0.3rem;
  padding: 0.7rem 0.2rem;
  text-align: center;
  border-radius: 5px;
}

a:hover {
  cursor: pointer;
}

a,
a:hover,
a:active,
a:visited {
  color: white;
}
